{% extends "base.html" %}
{% block title %}Results Overview{% endblock title %}
{% block content %}
 <div class="col-md-12">
  <div class="container" style="text-align: center">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">VOTING RESULT OVERVIEW</h1>
        <h2 style="text-align: center">Total users allowed to vote: {{ all }} users</h2>
        <h2 style="text-align: center">Regional Chairperson: {{ p1 }} votes</h2>
        <h2 style="text-align: center">Regional Vice Chairperson: {{ p2 }} votes</h2>
        <h2 style="text-align: center">Treasurer: {{ p3 }} votes</h2>
        <h2 style="text-align: center">Secretary: {{ p4 }} votes</h2>
        <h2 style="text-align: center">DEFEATs Rep: {{ p5 }} votes</h2>
      </div>
    </div>
</div>
 <span><a href="{% url 'final' %}" class="btn btn-primary">View Final Result</a></span>
        <div class="table-responsive">
  <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
            <thead>
                <th>Profile Image</th>
                <th>Contestant</th>
                <th>Position</th>
                <th>Total Votes</th>
                <th>Percentage Votes</th>
             </thead>
   <tbody>
   {% for i in votes %}
    <tr>
     <td>
         <div class="profile-img">
             <img src="{{ i.image.url}}" alt="connect" style="max-height:250px">
         </div>
     </td>
     <td>{{ i }}</td>
     <td>{{ i.position}}</td>
     <td>{{ i.username }}</td>
     <td>{{ i.password }}</td>
    </tr>
   {% endfor %}
   </tbody>

  </table>
        </div>
    </div>
{% endblock content %}